body {
    background-image: url('images/Background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Center postioning */
.register {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    box-shadow: 5px 5px 5px black;
}
.register input {
    width: 100%;
    margin-bottom: 10px;
}

.register.inp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.button{
    margin-top: 10px;
    width: 35%;
    padding: 6px;
    background-color: #c4861b;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 37%;
}
